<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BurnInStns.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BurnInStns.Properties.Settings.TubesConnectionString"
            connectionString="Data Source=ESP\XRAY;Initial Catalog=Tubes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <BurnInStns.Properties.Settings>
            <setting name="LogSaveFreq" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BCScanPort" serializeAs="String">
                <value>13000</value>
            </setting>
            <setting name="UDPServerPort" serializeAs="String">
                <value>9500</value>
            </setting>
            <setting name="PLCRoute" serializeAs="String">
                <value>5.45.76.0.1.1</value>
            </setting>
            <setting name="PLCPort" serializeAs="String">
                <value>851</value>
            </setting>
            <setting name="CurrentlyTesting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>10.30.1.</value>
            </setting>
            <setting name="SaveData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SettingsTable" serializeAs="String">
                <value>ArcLabBurnInSettings</value>
            </setting>
            <setting name="ResultsTable" serializeAs="String">
                <value>ArcLabBurnInResults</value>
            </setting>
            <setting name="SpellmanIP" serializeAs="String">
                <value>1 None
2 None
3 None
4 None
5 None
6 None
7 None
8 None
9 None
10 None
11 None
12 None
13 None
14 None
15 None</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value>D:\Burn-in Stations\Logs</value>
            </setting>
            <setting name="EquipStatusTable" serializeAs="String">
                <value>ArcLabEquipmentStatus</value>
            </setting>
            <setting name="BurnInStatusTable" serializeAs="String">
                <value>ArcLabStationStatusBRN</value>
            </setting>
            <setting name="PSEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </BurnInStns.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>