<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TSCB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TSCB.Properties.Settings.TubesConnectionString" connectionString="Data Source=ESP\XRAY;Initial Catalog=Tubes;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <TSCB.Properties.Settings>
            <setting name="SaveFolder" serializeAs="String">
                <value>K:\Software\Tubes\Saved Data\</value>
            </setting>
            <setting name="DBMinerPath" serializeAs="String">
                <value>K:\Software\Tubes\DB Miner\DB Miner.exe</value>
            </setting>
        </TSCB.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>