<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Devices.Properties.DAQ" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Devices.Properties.NIcDAQ" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Devices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Devices.Properties.DAQ>
            <setting name="inputVoltage" serializeAs="String">
                <value>Input Voltage</value>
            </setting>
            <setting name="inputCurrent" serializeAs="String">
                <value>Input Current</value>
            </setting>
            <setting name="beamCurrentMonitor" serializeAs="String">
                <value>Beam Current Monitor</value>
            </setting>
            <setting name="beamCurrentSetMonitor" serializeAs="String">
                <value>Beam Current Set Monitor</value>
            </setting>
            <setting name="kVMonitor" serializeAs="String">
                <value>kV Monitor</value>
            </setting>
            <setting name="kVSetMonitor" serializeAs="String">
                <value>kV Set Monitor</value>
            </setting>
            <setting name="kVEnableAnalog" serializeAs="String">
                <value>kV Enable Analog</value>
            </setting>
            <setting name="tubeFilamentReady" serializeAs="String">
                <value>TFR</value>
            </setting>
            <setting name="photoDiode" serializeAs="String">
                <value>Photo diode</value>
            </setting>
            <setting name="kVEnableDigital" serializeAs="String">
                <value>kV Enable Digital</value>
            </setting>
            <setting name="interlock" serializeAs="String">
                <value>Interlock Feed Back</value>
            </setting>
            <setting name="kVSet" serializeAs="String">
                <value>kV Set</value>
            </setting>
            <setting name="beamCurrentSet" serializeAs="String">
                <value>uA Set</value>
            </setting>
            <setting name="numOfSamples" serializeAs="String">
                <value>5</value>
            </setting>
        </Devices.Properties.DAQ>
        <Devices.Properties.NIcDAQ>
            <setting name="InputVoltage" serializeAs="String">
                <value>Input Voltage</value>
            </setting>
            <setting name="InputCurrent" serializeAs="String">
                <value>Input Current</value>
            </setting>
            <setting name="BeamCurrentMon" serializeAs="String">
                <value>Beam Current Monitor</value>
            </setting>
            <setting name="BeamCurrentSetMonitor" serializeAs="String">
                <value>Beam Current Set Monitor</value>
            </setting>
            <setting name="kVMon" serializeAs="String">
                <value>kV Monitor</value>
            </setting>
            <setting name="kVSetMonitor" serializeAs="String">
                <value>kV Set Monitor</value>
            </setting>
            <setting name="kVEnableAnalog" serializeAs="String">
                <value>kV Enable Analog</value>
            </setting>
            <setting name="TubeFilamentReady" serializeAs="String">
                <value>TFR</value>
            </setting>
            <setting name="PhotoDiode" serializeAs="String">
                <value>Photo diode</value>
            </setting>
            <setting name="kVEnableDigital" serializeAs="String">
                <value>kV Enable Digital</value>
            </setting>
            <setting name="Interlock" serializeAs="String">
                <value>Interlock Feed Back</value>
            </setting>
            <setting name="kVSet" serializeAs="String">
                <value>kV Set</value>
            </setting>
            <setting name="BeamCurrentSet" serializeAs="String">
                <value>uA Set</value>
            </setting>
        </Devices.Properties.NIcDAQ>
        <Devices.Properties.Settings>
            <setting name="AdminByte" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="SpellmanPort" serializeAs="String">
                <value>50001</value>
            </setting>
            <setting name="UTCPort" serializeAs="String">
                <value>9000</value>
            </setting>
            <setting name="ESPECPort" serializeAs="String">
                <value>57732</value>
            </setting>
        </Devices.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.1.40.49152" newVersion="15.1.40.49152" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>